<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size:18px">
    <a class="navbar-brand" href="/">
        @ProjetResto

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('front_team') }}">
                    Equipe
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('front_dishes') }}">
                    Categories

                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('app_block_show' , {'max': 3}) }}">
                    Derniers plats insérés

                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('front_command_support') }}">
                    Prise en charge commande
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Gestion des commandes

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{{ path('front_clic_collect') }}">
                        Création

                    </a>
                    <a class="nav-link" href="{{ path('app_client_order_index') }}">
                        Consultation/Modification

                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('admin_home') }}">
                    Gérer
                </a>
            </li>
        </ul>
    </div>
</nav>