<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>
        {% block title %}
            Back-office
        {% endblock %}
    </title>
    {% block stylesheets %}
        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #f5f5f5;
                text-align: center;
            }
        </style>
    {% endblock %}
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size:18px">
    <a class="navbar-brand" href="{{ path('admin_home') }}">
        @ProjetResto

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('admin_import_dishes') }}">
                    Importer plat

                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Gestion des plats

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{{ path('app_plat_new') }}">
                        Création

                    </a>
                    <a class="nav-link" href="{{ path('app_plat_index') }}">
                        Consultation/Modification

                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Gestion des utilisateurs

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{{ path('app_user_new') }}">
                        Création

                    </a>
                    <a class="nav-link" href="{{ path('app_user_index') }}">
                        Consultation/Modification
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Gestion des catégories

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{{ path('app_category_new') }}">
                        Création

                    </a>
                    <a class="nav-link" href="{{ path('app_category_index') }}">
                        Consultation/Modification
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Gestion des allergens

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{{ path('app_allergen_new') }}">
                        Création

                    </a>
                    <a class="nav-link" href="{{ path('app_allergen_index') }}">
                        Consultation/Modification
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% if app.user %}
    Vous êtes connecté en tant que

    {{ app.user.username }}
{% else %}
    Vous n'êtes pas connecté
{% endif %}
{% if app.user %}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% endif %}
</html>
{% block footer %}
    {% include 'Partials/footer.html.twig' %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
