{% include 'admin/admin.html.twig' %}

{% block body %}
    {% block content %}
        <h1>Liste des utilisateurs</h1>

        <table class="table">
            <thead>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('edit') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('delete') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Intitulé du poste</th>
                <th>Actif ?</th>
                <th colspan="3" rowspan="3">Choix</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.Firstame }}</td>
                    <td>{{ user.Lastname }}</td>
                    <td>{{ user.JobTitle }}</td>
                    <td>{{ user.Enabled ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                    <td>
                        <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}"
                              onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger">
                                Supprimer
                            </button>
                        </form>
                    </td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-info">Détail</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}
